<% @page_title = "Inventory Count Management" %>
<% @previous_controller = 'admin' %>
<% @previous_action = 'index' %>
<% @page_module = "admin" %>
<% @page_sub_module = "count_edit" %>

<div class='row'>
	<div class='small-8 small-centered columns'>
	<fieldset>
		<legend>Inventory Count Master</legend>
  			<%= form_for(:countmaster, :url => {:action => 'update'}) do |f| %>
  			   <%= render(:partial => "inv_count_form.html.erb", :locals => {:f => f}) %>
	<br />
	<div class='row', align='center'>
      <%= submit_tag("Submit Count", class: 'button small round secondary') %>
    </div>
    </fieldset>
</div>
    
    <%= render 'shared/inv_count_masters_errors' %>
<% end %>

