<% @page_title = "Pod Production Menu" %>
<% @previous_controller = 'production' %>
<% @previous_action = 'index' %>
<% @page_module = "production" %>
<% @page_sub_module = "pod" %>

<center>
<h1> Coming Soon </h1>
<hr>
<%= image_tag('pod_large.png')  %>
<br/>
<hr>
</center>
