<% @page_title = 'Truss Roll Former Coil Change' %>
<% @previous_controller = 'truss_roll_forming' %>
<% @previous_action = 'index' %>
<% @page_module = 'production' %>
<% @page_sub_module = 'truss_coil_change' %>
<% @page_access = 'coil_change' %>



<!--
<script type="text/javascript">
window.onload = function() {
  document.getElementById('wallpanel_tracking_panellabel').focus();
}
</script>
-->

<div class='row'>
  <div class='small-12 columns'>
  <%= form_for(@coil, :url => {:action => 'edit'}) do |f| %> 
    <div class='small-6 small-centered columns'>
      <fieldset>
        <legend>Coil Being Loaded</legend> 
        <%= render(:partial => "scan_coil", :locals => {:f => f}) %>
      </fieldset>
      </div>

   <div class='row'>
    <div class='small-12 small-centered columns', align='center'>
      <div class='small-6 small-offset-3 columns', align='centered'>
      <%= submit_tag('Load Coil', class: 'button small round secondary') %>
    </div>
      <div class='small-3 columns end', align = 'right'> 
    <%= 
 #  if @trans_code == 'NCN' then
       link_to('Send Message', {:controller => 'wallpanel_tracking', :action => 'send_ncn_notification'}, class: 'button small round secondary')    
        #tag(:br)
        #link_to "Offline Assembly Stoppage", :controller => 'wallpanel_tracking', :action => 'send_opa_notification'
    %>
<% end %>
  </div>
  </div>
  </div>
</div>

