<% @page_title = "Coil Width Calculator" %>

<div class='row'>
	<div class='small-6 small-centered medium-6 medium-centered large-4 large-centered columns'>
		<%= form_tag('widthCalc') do |c| %>
			<fieldset>
				<legend>Profile Dimensions</legend>
					<%= render(:partial => 'widthinputsform', :locals => {:c => c}) %>
					<div class='row'>
						<div class='small-6 small-centered columns', align='center'>
				      		<%= submit_tag('Calculate', class: 'button small secondary round') %>
						</div>
					</div>
			</fieldset>
		<% end %>	
	</div>
</div>
