<% @page_title = "Wall Panel Production Menu" %>
<% @previous_controller = 'production' %>
<% @previous_action = 'index' %>
<% @page_module = "production" %>
<% @page_sub_module = "wallpanel" %>

<% daysfeet = :todaysfootage %>
<% weeksfeet = :weeksfootage %>
<% monthsfeet = :monthsfootage %>

<br />
<div class='row'>
	<div class='small-8 small-centered columns'>
		<div class='small-4 columns'>	
			<center><%= link_to 'Sheathing Preparation', {:controller => 'wallpanel_tracking', :action => 'new', :trans_code => 'STH'}, class: "button small secondary round" %></center>
		</div>
		<div class='small-4 columns'>	
			<center><%= link_to 'Versa Table', {:controller => 'wallpanel_tracking', :action => 'new', :trans_code => 'VRS'}, class: "button small secondary round" %> </center>
		</div>
		<div class='small-4 columns'>	
			<center><%= link_to 'OffLine Panel Assembly', {:controller => 'wallpanel_tracking', :action => 'new', :trans_code => 'OPA'}, class: "button small secondary round" %></center>
		</div>
	</div>
</div>
<br />
<!--
<%= render(partial: "versa_footage" ) %>
-->

