<% @page_title = "Wall Panel Production Menu" %>
<% @previous_controller = 'production' %>
<% @previous_action = 'index' %>
<% @page_module = "production" %>
<% @page_sub_module = "wallpanel" %>

<% daysfeet = :todaysfootage %>
<% weeksfeet = :weeksfootage %>
<% monthsfeet = :monthsfootage %>

<br />
<table width = "50%" align = "center">
<tr>
	<td width = "50%" >
		<%= link_to 'Sheathing Preparation Production', {:controller => 'wallpanel_tracking', :action => 'new', :trans_code => 'STH'} %>
    </td>		
   <td width = "50%" align = "center">
	<%= link_to 'Versa Table', {:controller => 'wallpanel_tracking', :action => 'new', :trans_code => 'VRS'} %>
   </td>
</tr>
<tr>
	<td width = "50%" align = "center">
	 &nbsp;
	</td>
	<td width = "50%" align = "center">
		&nbsp;
	</td>
</tr>
<tr>
	<td width = "50%" align = "center">
	</td>
	<td width = "50%" align = "center">
	<%= link_to 'OffLine Panel Production', {:controller => 'wallpanel_tracking', :action => 'new', :trans_code => 'OPA'} %>
    </td>
</tr>
</table>
<br />
<%= render(partial: "versa_footage" ) %>

