<% @page_title = 'Roll Former QA Form' %>
<% @previous_controller = 'rollformer_qa_check' %>
<% @previous_action = 'index' %>
<% @page_module = 'qa' %>
<% @page_sub_module = 'rollform_qa' %>
<% @page_access = 'rollform_qa_edit' %>


  <%= form_for(:qaform, :url => {:action => 'edit'}) do |f| %>

    <%= render(:partial => "qa_form", :locals => {:f => f}) %>
<div class='row'>
	<div class='small-12 columns'>
		<div class='small-8 small-push-6 columns',align='right'>  
      		<%= submit_tag('Submit Form', class: 'button small secondary round') %>
			<% end %>
		</div>
		<div class='small-2 columns', align='right'>
     		<%= link_to('Send Message', {:controller => 'wallpanel_tracking', :action => 'send_rlf_notification'}, class: 'button small secondary round') %>
 		</div>
 	</div>
 </div>

