<% @page_title = "Administration Menu" %>
<% @previous_controller = 'mems_login' %>
<% @previous_action = 'index' %>
<% @page_module = "admin" %>
<% @page_sub_module = "admin_menu" %>

<br />
<table width="80%" align="center">
	<tr>
		<td width="33%" align="center">

	    <td width="33%" align="center">

	    <td width="33%" align="center">

	</tr>
    <tr>
    	<td width="33%" align="center">
    		
    	</td>
    	<td width="33%" align="center">
     		
 		</td>
 		<td width="33%" align="center">
    		
	    </td>
	 </tr>
	    <tr>
    	<td width="33%" align="center">
    	</td>
    	<td width="33%" align="center">
     		
 		</td>
 		<td width="33%" align="center">
	    </td>
	 </tr>
	     <tr>
    	<td width="33%" align="center">
    		
    	</td>
    	<td width="33%" align="center">
     		<br />
            <%= link_to("Inventory Count Management", :controller => 'inv_count_master', :action => 'view', :method => :get) %>
 		</td>
 		<td width="33%" align="center">
	    
        </td>
	 </tr> 
     <tr>
        <td width="33%" align="center">
           
        </td>
        <td width="33%" align="center">
            <br />
            <%= link_to("Inventory Count Review", :controller => 'inventory_count', :action => 'view_count', :method => :get) %> 
        </td>
        <td width="33%" align="center">
        </td>
     </tr> 
</table>
<br />
<hr>
