<% @page_title = 'Wall Panel Tracking' %>
<% @previous_controller = 'wallpanel_production' %>
<% @previous_action = 'index' %>
<% @page_module = 'production' %>
<% @page_sub_module = 'wallpanel' %>
<% @page_access = 'panel_tracking' %>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h2>Versa table operator has requested your assistance. &nbsp;</h2> @trans_code
    <p>
  </body>
</html>