<% @page_title = "General Ledger Menu" %>
<% @previous_controller = 'mems_login' %>
<% @previous_action = 'index' %>
<% @page_module = "gl" %>
<% @page_sub_module = "gl_menu" %>

<br>
<hr>
<center>
<h1> Coming Soon </h1>
<hr>
<%= image_tag('UnderConstructionPAGE.png')  %>
<br/>
<hr>
</center>