<% @page_title = "Inventory Count Main Menu" %>
<% @previous_controller = 'inventory' %>
<% @previous_action = 'index' %>
<% @page_module = "inventory_count" %>
<% @company = params[:company] %>
<br />


<div class='row'>
    <div class='small-12 columns', align='center'>
        <div class='row'>
            <h5 class='subheader'> 
            <%= case @company  
                    when "MBSL" then image_tag("mbsl_30x30_Icon.png")
                    when "MMPL" then image_tag("mmpl_30x30_Icon.png")
            end %>   
            <%= @company %> Inventory Count 
            </h5>
         </div>
        <div class='row'>
            <div class='small-4 small-centered columns'>
                <%= case @company 
                when "MBSL" then link_to('Count Sheathing', {:controller => 'inventory_count', :action => 'flatstock', :method => :get, company: 'MBSL', itemcateg: 'STH'}, class: 'button small secondary round') 
                when "MMPL" then link_to('Count Coils', {:controller => 'inventory_count', :action => 'coil', :method => :get, company: 'MMPL', itemcateg: 'COL'}, class: 'button small secondary round') 
                end %>    
            </div>
        </div>
        <div class='row'>
            <div class='small-4 small-cenTered columns', align='center'>    
                <%= case @company 
                    when "MBSL" then link_to('Count Miscellaneous', {:controller => 'inventory_count', :action => 'flatstock', :method => :get, company: 'MBSL', itemcateg: 'MSC'}, class: 'button small secondary round')    
                    when "MMPL" then link_to('Count Sheet Steel', {:controller => 'inventory_count', :action => 'flatstock', :method => :get, company: 'MMPL', itemcateg: 'SHS'}, class: 'button small secondary round')
                end %>   
            </div>
        </div>
    </div>
</div>