<h2><center><%= @page_title %></center></h2>
<%= video_tag '@media_name', :size => "800x600", :controls => true, :loop => true, :autobuffer => true, :autoplay => true %>

<!--
"Magest_installation_091714.mp4"	
<video width ="600" height="400" controls>
  <source src='videos/Magest_installation_091714.mp4' type="video/mp4" />
  <em> "Sorry your browser does not support HTML5 video." </em
  </video>
-->