<table bgcolor = "#FFFFFF" class="table table-bordered" summary = "Length Calc Thickness" align="center">
	<tr>
		<td width = '120' bgcolor = '#DCDCDC'>
			&nbsp;
		</td>
		<td width = '165' bgcolor = '#DCDCDC'>Mils (97mils = 0.097)</td>	
	</tr>	
	<tr>
		<td width = "120" bgcolor = "#DCDCDC">Thickness:</td>
		<td width = "165" bgcolor = "#DCDCDC"><%= text_field_tag(:thickness) %></td>
	</tr>
</table>
<table bgcolor = "#FFFFFF" class="table table-bordered" summary = "Length Calc Fields" align="center">	
	<tr>
		<td width = "120" bgcolor = "#DCDCDC">&nbsp;</td>
		<td width = "165" bgcolor = "#DCDCDC">Inches (6 5/8 or 6.625)</td>
	</tr>
	<tr>
		<td width = "100" bgcolor = "#DCDCDC">Width:      </td>
		<td width = "165" bgcolor = "#DCDCDC"><%= text_field_tag(:widthIn) %></td>
	</tr>
	<tr>
		<td width = "120" bgcolor = "#DCDCDC">Inner Diameter:      </td>
		<td width = "165" bgcolor = "#DCDCDC"><%= text_field_tag(:innerDiamIn) %></td>
	</tr>
	<tr>
		<td width = "120" bgcolor = "#DCDCDC">Outer Diameter:   </td>
		<td width = "165" bgcolor = "#DCDCDC"><%= text_field_tag(:outerDiamIn) %></td>
	</tr>
</table>
