
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Material Thickness: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<%= text_field_tag(:thickness, nil, placeholder: 'Mils (97mils = 0.097)') %>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Width: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<%= text_field_tag(:widthIn, nil, placeholder:'Inches (6 5/8 or 6.625)') %>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Inner Diameter: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<%= text_field_tag(:innerDiamIn, nil, :placeholder => 'Inches (6 5/8 or 6.625)') %>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Outer Diameter: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<%= text_field_tag(:outerDiamIn, nil, placeholder:'Inches (6 5/8 or 6.625)') %>
	</div>
</div>
