<% @page_title = "Coil Length Calculator" %>
<div class="sections new"><!--

	<table align="center">
	<tr>	
		<td wwht ><%= image_tag('magest_BlkWht_60x60_Icon.png') %></td>
		<td><h3> Coil Length Calculator </h3></td>
	</tr>
</table>
<hr />
-->
<table bgcolor = "#DCDCDC" align="center">
	<tr>
		<td width = '160' bgcolor = "#ffffff">&nbsp;</td>	
  		<th width = '160' bgcolor = "#ffffff"><h3>Coil Dimensions</h3></th>
	</tr>
	</table>
</div>

<%= render(:partial => 'lengthinputformvalues') %>

<hr>
<hr>


<%= render(:partial => 'lengthresults') %>