<% @page_title = "Coil Length Calculator" %>

<div class='row'>
	<div class='small-6 small-centered medium-6 medium-centered large-5 large-centered columns'>
		<%= form_tag('lengthCalc') do |c| %>
			<fieldset>
				<legend>Enter Coil Characteristics </legend>
					<%= render(:partial => 'lengthinputsform', :locals => {:c => c}) %>
						<div class='row'>
							<div class='small-4 small-centered columns', align='center'>
								<%= submit_tag("Calculate", class: "button small secondary round") %>
							</div>
						</div>
			</fieldset>
		<% end %>
	</div>
</div>