<% @page_title = "Coil Length Calculator" %>


<div class='row'>
	<div class='small-12 small-centered columns'>
		<div class='small-5 columns'>	 
			<fieldset>
				<legend>Coil Specifications</legend>
					<%= render(:partial => 'lengthresults') %>
					
			</fieldset>
			</div>
		<div class='small-6 columns'> 
				<fieldset>
					<legend>Coil Characteristics Submitted</legend>
						<%= render(:partial => 'lengthinputformvalues') %>	
				</fieldset>
		</div>
	</div>
</div>