<% @page_title = "Add Fractional Dimensions" %>

<div class='row'>
	<div class='small-6 small-centered medium-6 medium-centered large-5 large-centered columns'>
		<%= form_tag('calc_fractions/calcFract') do |c| %>
			<fieldset>
				<legend>Enter Dimensions to Add (Negatives are Acceptable)</legend>
					<%= render(:partial => 'enterValues', :locals => {:c => c}) %>
		<div class='row'>
			<div class='small-4 small-centered columns', align='center'>
				<%= submit_tag("Calculate", class: "button small secondary round") %>
			</div>
				<% end %>
		</div>
			</fieldset>	
	</div>
</div>
