<% @page_title = "Fractional Dimension Addition" %>
<title> Fraction Results </title>

<div class='row'>
	<div class='small-6 small-centered medium-6 medium-centered large-5 large-centered columns'>
		<div class='row'>
		<fieldset>
			<legend>Result</legend>
				<%= render(:partial => 'fractResult') %>
		</fieldset>
		</div>
	</div>
</div>