<% @page_title = "Fractional Dimension Calculator" %>
<title> Fractional Dimension Calculator</title>
<div class="sections new">
<!--
	<table align="center">
	<tr>	
		<td wwht ><%= image_tag('magest_BlkWht_60x60_Icon.png') %></td>
		<td><h3> Coil Width Calculator </h3></td>
	</tr>
</table>
<hr />
-->
<table bgcolor = "#DCDCDC" align="center">
	<tr>
		<td width = '150' bgcolor = "#ffffff">&nbsp;</td>	
  		<td width = '185' bgcolor = "#ffffff"><h3>Fractional Dimensions</h3></td>
	</tr>
	</table>
</div>

<%= render(:partial => 'fractResult') %>
