<div class="field">
  <%= f.label : %><br>
  <%= f.collection_select :pwo_header_id, PwoHeader.select(:id, :pwo_worderno).where(:status => ['OPN','WIP']).wosorted, :id, :pwo_worderno,
      {include_blank: true},
      { data: {
          dynamic_selectable_url: dynamic_select_states_path(':pwo_header_id'),
          dynamic_selectable_target: '#event_profile_id'
        }
      } %>
</div>
<div class="field">
  <%= f.label :item %><br>
  <%= f.collection_select :profile_id, @event.PwoHeader.try(:profiles) || [], :id, :item, :include_blank => true  %>
</div>