/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require dataTables/src/demo_table_jui.css.scss 
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require_tree .
 *= require dataTables/jquery.dataTables.foundation
 *= require foundation_and_overrides
 
 */


 .top-bar
{
    background: none;
   /* padding: 45px 0.9375rem 90px 0.9375rem; */
    transition: all 0.5s ease 0.1s;
    max-width: 80rem;
    // LOGO ADJUSTMENT
    ul.title-area img {
        margin: 12px 0 0 0;  
    }
    ul.left img {
        margin: 8px 20px 0 20px;  
    }
    ul.right img {
        margin: 8px 20px 0 20px;  
    }
}

.sticky{
    position:fixed;
    z-index:999;
}

.tabs-content, .content {
    width:100%;
}


@import "foundation_and_overrides";

